h1 {color: blue}
h2 {color: red}
h3 {color: yellow}
p {color: #ff00ff}
.facepalm {color: blue} 
h4 {color: red}
h5 {color: blue}
h6 {color: #F4A460}

.block {
	background-color:#000;
	height:500px;
	width:500px;
}